# Sprint 3 - Manipulación de Datos I (Ejercicios)
**Versión para estudiantes**

En este caso de estudio se busca practicar los fundamentos de manipulación de datos con **Pandas**. En concreto harás ejercicios acerca de los siguientes temas:

* Carga y entendimiento de datos
* Tratamiento de valores ausentes
* Tratamiento de duplicados
* Filtrado por indexación
* Filtrado por consulta
* Agrupamiento de datos

## Carga y entendimiento de datos

### Ejercicio 1

Carga el dataset **autos_ws.csv**.

### Ejercicio 2

Muestra la información de la estructura y las características generales del dataset.

Imprime una muestra aleatoria de 10 elementos del dataset.

## Tratamiento de valores ausentes

### Ejercicio 1

Identifica los valores ausentes que existen en cada una de las columnas del dataset.

### Ejercicio 2

Imputa en los valores ausentes de la columna VehicleTipe el valor modal.

### Ejercicio 3

Imputa en los valores ausentes del resto de columnas la expresión "not defined".

## Tratamiento de duplicados

### Ejercicio 1

Identifica si existen filas duplicadas en el dataset.

Muestra las filas que estén duplicadas.

### Ejercicio 2

Elimina los valores duplicados que se identificaron. Recuerda resetear los índices luego de esta eliminación.

## Filtrado por indexación

### Ejercicio 1

Filtra las primeras 7 filas del dataset usando `iloc`.

Filtra las filas 100 a 105 y las columnas 2 a 5.

### Ejercicio 2

Filtra las últimas 10 filas de las columnas Price, Brand y Power por indexación de etiquetas usando `loc`.

## Filtrado por consulta

### Ejercicio 1

Filtra todos los vehículos con un precio superior a 10,100 pero inferior a 10,200 usando el método `query`.

### Ejercicio 2

Filtra todos los vehículos de las marcas "volkswagen" o "skoda" y con potencia mayor o igual a 1,600.

## Agrupamiento de datos

### Ejercicio 1

Muestra el precio promedio, máximo y mínimo para cada tipo de vehículo usando `groupby`.

### Ejercicio 2

Muestra el precio promedio, el kilometraje mediano y la cantidad de modelos por marca.