# Sprint 4 - Manipulación de Datos II (Ejercicios)
**Versión para estudiantes**

En este caso de estudio se busca continuar con la práctica de los fundamentos de manipulación de datos con **Pandas** y **Matplotlib** en lo referente a:

* Concatenación de dataframes
* Unión de dataframes
* Aplicación de funciones
* Visualización con gráficos

## Concatenación de dataframes

Considera los siguientes tres datasets de ejemplo:

```py
df1 = pd.DataFrame(
    {'A':['A0','A1','A2','A3'],
    'B':['B0','B1','B2','B3'],
    'C':['C0','C1','C2','C3'],
    'D':['D0','D1','D2','D3']},
index = [0,1,2,3])

df2 = pd.DataFrame(
    {'A':['A4','A5','A6','A7'],
    'B':['B4','B5','B6','B7'],
    'C':['C4','C5','C6','C7'],
    'D':['D4','D5','D6','D7']},
index = [0,1,2,3])

df3 = pd.DataFrame(
    {'A':['A8','A9','A10'],
    'B':['B8','B9','B10'],
    'C':['C8','C9',None],
    'D':['D8','D9',None]},
index = [0,1,2])
```

### Ejercicio 1

Concatena df1, df2 y df3 por filas utilizando el método `concat`.

### Ejercicio 2

Concatena df1, df2 y df3 por columnas usando el método `concat`.

## Unión de dataframes

### Ejercicio 1

Considera los siguientes dataframes:

```py
dataset_1 = pd.DataFrame({
    'key':['K0','K1','K2','K3'],
    'A':['A0', 'A1', 'A2', 'A3'],
    'B':['B0', 'B1', 'B2', 'B3'],
})

dataset_2 = pd.DataFrame({
    'key':['K0','K1','K2','K3'],
    'A':['A4', 'A5', 'A6', 'A7'],
    'B':['B4','B5','B6','B7'],
})
```

Usa el método `merge` para unir los datasets con un *inner join*, y usando la llave key.

Realiza la misma unión que en el caso anterior, solo que ahora especifica sufijos distintos para columnas con los mismos nombres en ambos datasets.

### Ejercicio 2

Considera los siguientes dataframes:

```py
dataset_3 = pd.DataFrame(
    {'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']}
)

dataset_4 = pd.DataFrame(
    {'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']}
)
```

Une los datasets con un *inner join*, usando las llaves key1 y key2 a la vez.

Repite la unión anterior pero ahora utiliza un *outer join*.

Ahora usa un *right join*.

## Aplicación de funciones

### Ejercicio 1

Ejecuta el siguiente codigo para crear un dataset de forma aleatoria.

```py
import pandas as pd
import numpy as np

np.random.seed(42)

# Fechas
fechas = pd.date_range(start="2023-01-01", periods=100, freq="D")

# Datos simulados
ventas = np.random.randint(100, 500, size=100)
gastos_marketing = np.random.randint(50, 200, size=100)
gastos_personal = np.random.randint(80, 300, size=100)

# Crear el DataFrame
df = pd.DataFrame({
    "fecha": fechas,
    "ventas": ventas,
    "gastos_Marketing": gastos_marketing,
    "gastos_Personal": gastos_personal
})

print(df.sample(10)) 
```

Crea una nueva columna **estado** en la que indique si "hay ganancia" (ventas >= gastos_marketing + gastos_personal) o "hay pérdida". Utiliza el método `apply`.

### Ejercicio 2

Crea una nueva columna llamada **razon** en la cual se especifique "marketing" si los gastos de este tipo son mayores a los de personal o "personal" en caso contrario, pero solamente cuando el estado sea de pérdida.

### Ejercicio 3

Si las ventas superan el valor de 500 en un día se tiene un buen día. Crea una columna de tipo buleano que refleje este hecho usando el método `apply`.

## Visualización con gráficos

### Ejercicio 1

Tomando como referencia el dataset del apartado anterior, crea un gráfico de linea con la evolución de ventas y que tenga varios atributos de forma para hacerlo presentable. Añade además una línea horizonal en el valor de 500 para distinguir los días "buenos".

### Ejercicio 2

Crea un histograma que muestre la distribución de gastos en marketing y los gastos de personal. Recuerda incluir atributos de forma.

### Ejercicio 3

Crea un gráfico de cajón para tener una idea general de la distribución, dispersión y valores atipicos en las ventas, gastos de marketing y gastos de personal. Recuerda incluir atributos de forma.

Los histogramas y los gráficos de cajon son herramientas de gran utilidad para estudiar el comportamiento de variables. Te sugiero que investigues sobre estas visualizaciones pues te serán de mucha utilidad en tus labore de analista o científico de datos.